/* General styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    overflow-y: scroll;
    overflow-x: hidden; 
}
body {
    min-height: 100vh;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FBFC;
    color: rgb(62, 76, 117);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.display-none {
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    max-width: 36rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.counter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    margin-bottom: 1rem;
}

#timer {
    font-size: 8rem;
    font-weight: 500;
}
#timer.error {
    font-size: 3rem;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputs {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    min-width: 190px;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid rgb(62, 76, 117);;
    color: rgb(62, 76, 117);
    background-color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    border-radius: 3px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    margin-left: -4rem;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

input[type="button"] {
    min-width: 190px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    background-color: rgb(62, 76, 117);
    color: rgb(255, 255, 255);
    padding: 0.75rem 1rem;
    border-radius: 3px;
    text-align: center;
}

input[type="button"]#start,
input[type="button"]#resume  {
    background-color: rgb(19, 183, 99);
}

input[type="button"]#pause {
    background-color: rgb(224, 202, 60);
}

input[type="button"]:hover {
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.error {
    font-size: 2rem;
    color: red;
}

/* Footer */
.attribution {
    text-align: center;
    width: 100%;
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.attribution a {
    margin-left: 0.3rem;
}

@media screen and (max-width: 680px) {
    #timer {
        font-size: 4rem;
    }
}